<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectRatio</key>
	<integer>1</integer>
	<key>blockSleepSpamming</key>
	<false/>
	<key>bundleIdentifier</key>
	<string>com.mojang.minecraftpe</string>
	<key>bypass</key>
	<false/>
	<key>checkMicPermissionSync</key>
	<false/>
	<key>customScaler</key>
	<real>1.5</real>
	<key>disableBuiltinMouse</key>
	<false/>
	<key>disableTimeout</key>
	<false/>
	<key>discordActivity</key>
	<dict>
		<key>applicationID</key>
		<string></string>
		<key>details</key>
		<string></string>
		<key>enable</key>
		<false/>
		<key>image</key>
		<string></string>
		<key>state</key>
		<string></string>
	</dict>
	<key>displayRotation</key>
	<integer>0</integer>
	<key>enableScrollWheel</key>
	<true/>
	<key>enableScrollWheelZoom</key>
	<true/>
	<key>enableScrollWheelMapping</key>
	<false/>
	<key>floatingWindow</key>
	<false/>
	<key>hideTitleBar</key>
	<false/>
	<key>injectIntrospection</key>
	<false/>
	<key>inverseScreenValues</key>
	<false/>
	<key>iosDeviceModel</key>
	<string>iPad16,6</string>
	<key>keymapping</key>
	<false/>
	<key>limitMotionUpdateFrequency</key>
	<false/>
	<key>metalHUD</key>
	<false/>
	<key>noKMOnInput</key>
	<false/>
	<key>notch</key>
	<true/>
	<key>playChain</key>
	<true/>
	<key>playChainDebugging</key>
	<false/>
	<key>resizableAspectRatioHeight</key>
	<integer>10</integer>
	<key>resizableAspectRatioType</key>
	<integer>4</integer>
	<key>resizableAspectRatioWidth</key>
	<integer>16</integer>
	<key>resolution</key>
	<integer>1</integer>
	<key>rootWorkDir</key>
	<true/>
	<key>sensitivity</key>
	<real>49.78271484375</real>
	<key>version</key>
	<string>3.0.0</string>
	<key>windowFixMethod</key>
	<integer>0</integer>
	<key>windowHeight</key>
	<integer>945</integer>
	<key>windowWidth</key>
	<integer>1512</integer>
</dict>
</plist>
